img.friend-img {
	width: 50px; 
	height:50px;
}

div.friends-list-container{
	position:relative;
	display:block;
	overflow:auto;
	height:300px;
}

div.friend-info-container{
	position:relative;
	float:left;
	width:170px;
	padding:5px;
	margin:5px;
	border-style:solid;
	border-width:4px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:white;

}

.friend-info-container:hover {
	background-color:grey;
	cursor: pointer;
}

div.friend-info-container-dragged, div.friend-info-container-dropped { 
	opacity: 0.4; 
}

div.friend-img-container{
	position:absolute;
	width:100px;
	left:0px;
}

div.friend-name-container{
	position:absolute;
	width:100px;
	top:0px;
	padding-top:5px;
	left:58px;
}

div.friend-name-container p{
	font-size: 20px;
	font-family: Champagne;
	margin:0;
}

div.create-circle-container {
	position:relative;
	float:left;
	height: 170px;
	width: 170px;
	-moz-border-radius: 85px;
	border-radius: 85px;
	border-style:dashed;
	border-color:black;
	background-color:white;
	text-align: center;
}

div.circle-container {
	position:relative;
	float:left;
	height: 170px;
	width: 170px;
	margin:5px;
	-moz-border-radius: 85px;
	border-radius: 85px;
	border-style:solid;
	border-color:black;
	background-color:white;	
	text-align: center;
}

div.circle-container input{
	width:80%;
}

div.circle-container-droppable { 
	border-color:red;
}

div.create-circle-container:hover{
	border-style:solid;
}


div.circle-info-container{
	position:absolute; 
	top:50%; 
	height:240px; 
	margin-top:-120px;
	font-weight:bold;
}

