@font-face {
	font-family: Champagne; 
	src:url('/static/font/Champagne & Limousines.ttf');
}
a.rollover {
	background-image: url('/static/imgs/home_imgs/btnT1.png');
}

a.rollover:hover {
	background-image: url('/static/imgs/home_imgs/btnT2.png');
}

a.explore {background-image: url('/static/imgs/home_imgs/btnE.png');} 

html { padding: 0px; margin: 0px;}
body {padding: 0px; margin: 0px; background-image: url('imgs/back.png');}

.hero-unit {
	margin-left: auto ;
	margin-right: auto ;
	width: 800px;	
}

#description {float: left; height: 100%; width: 28%; }
#imageSel1, #imageSel2 { visibility: hidden;}

#header {background-color:#685184 ; 
	     height:60px; width:100%;
	      position: fixed;  
	     z-index:1; 
   -webkit-box-shadow: 0 7px 6px -6px black;
	   -moz-box-shadow: 5 8px 6px 6px black;
	        box-shadow: 8 0px 6px 6px black;
	 }

#headerText {
	 			position: absolute;
	 			color: white;
	 			font-family: Champagne;
	 			font-size: 20px;
	 			width: 99%;

	 			display: block;

	 }

#headerSep {
	   background-color: #d5bdf2;
	   height: 2px;
	   bottom: 0px;
	   margin-top: 58px;
}

#main {  position:static; width: 100%;}

#content{ height:100% ; 
	   -webkit-box-shadow: 0 8px 6px -6px grey;
	   -moz-box-shadow: 5 8px 6px 6px grey;
	        box-shadow: 10 0px 6px 6px grey;
	    border:2px solid;
	    border-color:#C0C0C0 	;
	    width: 800px; ;
 		margin-left: auto ;
 		margin-right: auto ;
  		background-color:white;
}


#footer {
   position:relative;
   bottom:0;
   width:100%;
   height:44px;  
   color:white; 
   background-color:#626262;
   font-family: Champagne;
   font-size: 23px;
   text-align: center;
}


#contentTOP {
	
	 width: 44% ;
    margin-left: auto ;
 	margin-right: auto ;
}

a.facebookLogin{
text-align:center;
float:right;
margin-top: 80px;
margin-right: 20px;
}



table td
    {
        height:300px;
    }


button.btn {
	position:relative;
	margin-top:10px;
	margin-left: 50px;
	font-size: 15px;
}


div.textALLHead{
	font-size: 35px;
	line-height:25px;
	font-family: Champagne;
	float: left;
    padding-left: 25px;
     padding-top: 25px;

}
div.textALLUser{
	font-size: 22px;
	font-family: Champagne;
    padding-right: 50px;
    padding-top: 0px;
    color: grey;
    font-style: italic;
    float: right;
    overflow: hidden;
}

div.quotesL {

	font-size: 30px;
	font-family: Helvetica;
	color:grey;

}
div.quotesR {
	font-size: 30px;
	padding-top: 20px;
	font-family: Helvetica;
	color:grey;
	font-style: italic;

}

div.imagesALL {

	width:68%;
	height:100%;
	margin-top: 10px;
    margin-left: 10px;
	float: left;
	overflow: hidden;
}

div.category{
    padding-top: 5px;
	margin-top: 5px;
	float: left;
}


div.DigIT {
	position:relative; 
    height: 50px;
	width: 280px;
	background-color: white;
	opacity: 0.8;


}



div.textOverBlue{
	position: absolute;
	z-index: 1;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;

    width: 250px;
    height: 60px;
    visibility: hidden;
    background-color: #3a87ad;
 
}
div.textOverRed{
	position: absolute;
	z-index: 1;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;

    width: 250px;
    height: 60px;
    visibility: hidden;
    background-color: #b22822;
 
}

div.textOverT{

   font-family:Champagne;
   color: white;
   font-size: 40px;
   float:bottom;
   text-align: right;
   padding-right: 20px;
   position: relative;
   opacity: 1.0;


}

