{% extends "base.html" %}

{% block content %}
<div id="main">  
</br></br></br></br>
	<div class="hero-unit">
	  <h1>Yay! Welcome to fash.am {{current_user.first_name}}.</h1>
	  <br>
	  <p>Drag and drop </a> your friends to your circles and let them be your own personal stylists.</p>
	  <div class="friends-list-container">
		{% for friend in kwargs['friends'] %}
		<div fid={{friend.fb_id}} class="friend-info-container">
			<div class="friend-img">
				<img class="friend-img" src="{{friend.profile_pic}}">
			</div>
			<div class="friend-name-container">
				<p>{{friend.first_name}}</p>
				<p>{{friend.last_name}}</p>
			</div>		
	     </div>
		 {% end %}
	  </div> 
	
		<div class="separator">
		<hr color="black" width="100%" size="5" align="center">
		</div>
	
		<div class="user-circles-container">
		<div id="create-circle" class="create-circle-container">
			<p>Click me</p>
			<p>to create a new</p>
			<p>circle</p>
		</div>         
		{% for circle in kwargs['circles']%}
			<div cid='{{circle.name}}' class="circle-container">
				<p>{{circle.name}}</p>
			</div>
		{% end %}
		</div>
	</div>
</div>
{% end %}