{% extends "base.html" %}

{% block content %}
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">


<div id="header">   
  <a href="" class="facebookLogin"><img src="static/imgs/home_imgs/fb1.png" onmouseover="this.src='static/imgs/home_imgs/fb2.png'" onmouseout="this.src='static/imgs/home_imgs/fb1.png'"  /> </a> 
  <span id="headerText"> <img src="static/imgs/home_imgs/button.png" style="margin:auto;display:block;">  </span><div id="headerSep"></div> 
</div>  

<div id="main">  
</br></br></br></br>
  <div id="contentTOP">
     <span>  <img src="static/imgs/home_imgs/logo.png" style="display:block; width:320px; margin:auto;">  </span>
  </div>
	<div id="content" >
	 
     <table class="table" style=" width:100%;  ">
        <tbody >
       	 {% for i,post in enumerate(kwargs['posts']) %}
          <tr> <td> 
              <div class="imagesALL">
                   <a class="thumbnail" style="float:left;"  onclick="makeSelection('{{post.images[0].url}}','{{post.images[1].url}}');ShowHide('blueTags{{i}}','redTags{{i}}');" > 
                       <div class="textOverRed" id="textOverId-{{post.images[0].url}}"><div class="textOverT"> vote!</div></div>
                       <img id="{{post.images[0].url}}" src='{{post.images[0].url}}' width="250PX" onmouseover="showTip('textOverId-{{post.images[0].url}}');ShowHide('blueTags{{i}}','redTags{{i}}');"  onmouseout="hideTip('textOverId-{{post.images[0].url}}');showTagsALL('redTags{{i}}','blueTags{{i}}');"  > 
                   </a>
                   <a class="thumbnail" style="float:left;" onclick="makeSelection('{{post.images[1].url}}','{{post.images[0].url}}');ShowHide('redTags{{i}}','blueTags{{i}}');">
                        <div class="textOverBlue" id="textOverId-{{post.images[1].url}}"><div class="textOverT"> vote!</div></div>
                        <img id="{{post.images[1].url}}"  src='{{post.images[1].url}}' width="250PX" onmouseover="showTip('textOverId-{{post.images[1].url}}');ShowHide('redTags{{i}}','blueTags{{i}}');"  onmouseout="hideTip('textOverId-{{post.images[1].url}}');showTagsALL('redTags{{i}}','blueTags{{i}}');" >
                   </a>
              </div>     

              <div id="description">
	              <div id = "TITLE" class="textALLHead"> {{post.desc}}  
	               <div class="textALLUser" id="USER"> by {{post.aid}}  </div>    </br>
	                 <div id="blueTags{{i}}">
	                  	<div class="category">  <span id="TAG" class="badge badge-important" style="font-size:15px; font-family:Helvetica">Fcuk Jeans </span> </div>
	                  	<div class="category">  <span id="TAG" class="badge badge-important" style="font-size:15px; font-family:Helvetica">All Stars shoes </span> </div>
	                 </div> 
	
	                 <div id="redTags{{i}}">
	                  	<div class="category">  <span id="TAG" class="badge badge-info" style="font-size:15px; font-family:Helvetica">Topshop dress</span> </div>
	                  	<div class="category">  <span id="TAG" class="badge badge-info" style="font-size:15px; font-family:Helvetica">Fcuk Jeans </span> </div>
	                 </div>  
                  </div> 
              
              </div>
          </td> </tr>
	 	 {% end %}
      
      </table>
     </div>
</div>
</br>
<div id="footer"> about us   <span style="padding-left:50px"> contact us </span> </div> 

{% end%}


