{% extends "base.html" %}

{% block content %}
<style type="text/css">

body
{
background-image:url('static/imgs/hardcoded/back.png') ;
background-repeat:no-repeat;
background-color:#685184;

}
</style>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>


{% end %}

