{% extends "base.html" %}

{% block content %}
<style type="text/css">

#bg {
top:0; 
left:0; 

/* Preserve aspet ratio */
min-width:100%;
min-height:100%;
}
</style>

<body>
<img src="static/imgs/hardcoded/back.png" id="bg" alt="">
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</body>


{% end %}

